<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllGoods</servlet-name>
    <servlet-class>servlet.GetAllGoods</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>servlet.AddToCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProcessCart</servlet-name>
    <servlet-class>servlet.ProcessCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClearCart</servlet-name>
    <servlet-class>servlet.ClearCart</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddGoodsServlet</servlet-name>
    <servlet-class>servlet.AddGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyGoodsServlet</servlet-name>
    <servlet-class>servlet.ModifyGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <servlet-class>servlet.DeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowModifyPageServlet</servlet-name>
    <servlet-class>servlet.ShowModifyPageServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>GetAllGoods</servlet-name>
    <url-pattern>/getAllGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessCart</servlet-name>
    <url-pattern>/processCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearCart</servlet-name>
    <url-pattern>/clearCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGoodsServlet</servlet-name>
    <url-pattern>/addGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyGoodsServlet</servlet-name>
    <url-pattern>/modifyGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <url-pattern>/deleteGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowModifyPageServlet</servlet-name>
    <url-pattern>/showModifyPage</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <!--参数名为contextConfigLocation-->
    <param-name>contextConfigLocation</param-name>
    <!--多个配置文件之间以"，"隔空-->
    <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
  </context-param>
  <!--使用ContextLoaderListener初始化Spring容器-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

</web-app>
